# preprocessing

## Movies

### Import Data set Movies

In [5]:
import pandas as pd
import os

In [12]:
dir = 'C:\\Users\\Cristian.Correa\\ueb\\recommendation_systems\\rs-project\\datasets\\movies'
os.chdir(dir)
os.listdir()

['movies.dat', 'ratings.dat', 'README.pdf', 'tags.dat']

In [108]:
df_movies = pd.read_csv('movies.dat', header=None, sep='::')
df_ratings = pd.read_csv('ratings.dat', header=None, sep='::')
df_tags = pd.read_csv('tags.dat', header=None, sep='::')

C:\Users\Cristian.Correa\AppData\Local\Temp\ipykernel_39832\1868750982.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_movies = pd.read_csv('movies.dat', header=None, sep='::')
C:\Users\Cristian.Correa\AppData\Local\Temp\ipykernel_39832\1868750982.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_ratings = pd.read_csv('ratings.dat', header=None, sep='::')
C:\Users\Cristian.Correa\AppData\Local\Temp\ipykernel_39832\1868750982.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_tags = pd.read_csv('tags.dat', header=None, sep='::')

In [109]:
df_movies.head()

,0,1,2
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [110]:
df_movies.columns

Int64Index([0, 1, 2], dtype='int64')

In [111]:
df_movies.rename(columns={
    0: 'movieid',
    1: 'title',
    2: 'genres'
}, inplace=True)

In [112]:
df_movies.columns

Index(['movieid', 'title', 'genres'], dtype='object')

In [113]:
df_ratings.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [114]:
df_ratings.rename(columns={
    0: 'userid',
    1: 'movieid',
    2: 'rating',
    3: 'timestamp'
}, inplace=True)

In [115]:
df_ratings.columns

Index(['userid', 'movieid', 'rating', 'timestamp'], dtype='object')

In [117]:
df_tags.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [118]:
df_tags.rename(columns={
    0: 'userid',
    1: 'movieid',
    2: 'tag',
    3: 'timestamp'
},inplace=True)

In [120]:
df_tags.head()

   userid  movieid              tag   timestamp
0      15     4973       excellent!  1215184630
1      20     1747         politics  1188263867
2      20     1747           satire  1188263867
3      20     2424  chick flick 212  1188263835
4      20     2424            hanks  1188263835

## Sending data to postgre SQL

## Configure connection

In [121]:
import psycopg2
import io

In [122]:
pgcon = psycopg2.connect(
    host='localhost',
    database='sr_project',
    user='postgres',
    password=1234,
)

In [123]:
pgcursor = pgcon.cursor()

In [124]:
pgcon.close()

In [125]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:1234@localhost/sr_project')

In [126]:
df_tags.to_sql('tags',engine, if_exists='replace',index=False)

580

In [127]:
df_ratings.to_sql('ratings',engine, if_exists='replace',index=False)

54

In [128]:
df_movies.to_sql('movies',engine, if_exists='replace',index=False)

681