# preprocessing

## Movies

### Import Data set Movies

In [13]:
import pandas as pd
import os

In [12]:
dir = 'C:\\Users\\Cristian.Correa\\ueb\\recommendation_systems\\rs-project\\datasets\\movies'
os.chdir(dir)
os.listdir()

['movies.dat', 'ratings.dat', 'README.pdf', 'tags.dat']

In [108]:
df_movies = pd.read_csv('movies.dat', header=None, sep='::')
df_ratings = pd.read_csv('ratings.dat', header=None, sep='::')
df_tags = pd.read_csv('tags.dat', header=None, sep='::')

C:\Users\Cristian.Correa\AppData\Local\Temp\ipykernel_39832\1868750982.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_movies = pd.read_csv('movies.dat', header=None, sep='::')
C:\Users\Cristian.Correa\AppData\Local\Temp\ipykernel_39832\1868750982.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_ratings = pd.read_csv('ratings.dat', header=None, sep='::')
C:\Users\Cristian.Correa\AppData\Local\Temp\ipykernel_39832\1868750982.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df_tags = pd.read_csv('tags.dat', header=None, sep='::')

In [109]:
df_movies.head()

,0,1,2
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [110]:
df_movies.columns

Int64Index([0, 1, 2], dtype='int64')

In [111]:
df_movies.rename(columns={
    0: 'movieid',
    1: 'title',
    2: 'genres'
}, inplace=True)

In [112]:
df_movies.columns

Index(['movieid', 'title', 'genres'], dtype='object')

In [113]:
df_ratings.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [114]:
df_ratings.rename(columns={
    0: 'userid',
    1: 'movieid',
    2: 'rating',
    3: 'timestamp'
}, inplace=True)

In [115]:
df_ratings.columns

Index(['userid', 'movieid', 'rating', 'timestamp'], dtype='object')

In [117]:
df_tags.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [118]:
df_tags.rename(columns={
    0: 'userid',
    1: 'movieid',
    2: 'tag',
    3: 'timestamp'
},inplace=True)

In [120]:
df_tags.head()

   userid  movieid              tag   timestamp
0      15     4973       excellent!  1215184630
1      20     1747         politics  1188263867
2      20     1747           satire  1188263867
3      20     2424  chick flick 212  1188263835
4      20     2424            hanks  1188263835

# Data Manipulation with  postgreSQL

Context: For performance reasons, realise the transform operations and joins across dataframes is less expensive through sql in terms of the power of computing the metrics also is easy to handle :)

## Configure DB connection

In [7]:
import psycopg2

In [8]:
pgcon = psycopg2.connect(
    host='localhost',
    database='sr_project',
    user='postgres',
    password=1234,
)

In [9]:
pgcursor = pgcon.cursor()

In [124]:
pgcon.close()

In [17]:
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:1234@localhost/sr_project')

### Sending Dataframes to PostgreSQL

In [126]:
df_tags.to_sql('tags',engine, if_exists='replace',index=False)

580

In [127]:
df_ratings.to_sql('ratings',engine, if_exists='replace',index=False)

54

In [128]:
df_movies.to_sql('movies',engine, if_exists='replace',index=False)

681

### Flatten tags into a columm
This table will be necessary to retrieve genre data in tabular shape

In [4]:
movies_flatten_sql = """
CREATE TABLE movies_flatten AS
     SELECT
          movieid,
          title,
          genre
     FROM movies, unnest( string_to_array( genres, '|' ) ) genre
"""

In [10]:
pgcursor.execute(movies_flatten_sql)

DuplicateTable: la relación «movies_flatten» ya existe

### Join and transform tables
This query computes the metrics for each table in a level of moveid, the main idea is to build one dataset with all features possible aggregate to perform an Data Exploratory Analysis

In [22]:
features_join_query = '''

WITH ratings_agg     AS (

     SELECT
          movieid,
          avg( rating )            AS avg_ratings,
          count( DISTINCT userid ) AS users_ratings
     FROM ratings
     GROUP BY 1
)
   , tags_agg        AS (
     SELECT
          movieid,
          STRING_AGG( DISTINCT lower( trim( translate( tag, 'áéíóú', 'aeiou' ) ) ), ',' ) AS tags_agg,
          count( DISTINCT userid )                                                        AS users_tag

     FROM tags
     WHERE TRUE
     GROUP BY 1

)
   , movies_norm     AS (

     SELECT
          movieid,
          title,
          translate( lower( ( trim( genres ) ) ), '|', ',' )         AS genres_agg,
          translate( right( title, 6 ), '()', '' )::integer          AS year,
          translate( trim( lower( title ) ), right( title, 6 ), '' ) AS title_normalized,
          length( title ) - 6                                        AS title_length

     FROM movies
)
   , movies_features AS (

     SELECT
          movies_norm.movieid,
          movies_norm.title,
          movies_norm.title_normalized,
          movies_norm.genres_agg,
          movies_norm.year,
          movies_norm.title_length,

          ratings_agg.avg_ratings,
          ratings_agg.users_ratings,
          tags_agg.tags_agg,
          tags_agg.users_tag


     FROM movies_norm
     LEFT JOIN ratings_agg ON movies_norm.movieid = ratings_agg.movieid
     LEFT JOIN tags_agg ON movies_norm.movieid = tags_agg.movieid
     WHERE TRUE
)
SELECT
     movieid,
     title,
     title_normalized,
     genres_agg,
     year,
     title_length,
     avg_ratings,
     users_ratings,
     tags_agg,
     users_tag
FROM movies_features


'''

### Retrieve query joins into a dataframe
Once execute the query, we can retrive the data into a dataframe to perform our EDA.

In [23]:
movies_feature_df = pd.read_sql_query(features_join_query,engine)

In [24]:
movies_feature_df.head()

,movieid,title,title_normalized,genres_agg,year,title_length,avg_ratings,users_ratings,tags_agg,users_tag
0,1,Toy Story (1995),toy story,"adventure,animation,children,comedy,fantasy",1995,10,3.928769,26449.0,"3d,action figure,action figures,adventure,almo...",71.0
1,2,Jumanji (1995),jumanji,"adventure,children,fantasy",1995,8,3.208070,12032.0,"adapted from:book,animals,board game,childhood...",22.0
2,3,Grumpier Old Men (1995),grumpier old men,"comedy,romance",1995,17,3.150385,7790.0,"comedinha de velhinhos engraã§ada,comedinha de...",9.0
3,4,Waiting to Exhale (1995),waiting to exhale,"comedy,drama,romance",1995,18,2.860544,1764.0,girl movie,1.0
4,5,Father of the Bride Part II (1995),father of the bride part ii,comedy,1995,28,3.077435,7135.0,"childhood classics,family,fantasy,it thought i...",9.0

In [25]:
movies_feature_df.describe().T

,count,mean,std,min,25%,50%,75%,max
movieid,10681.0,13120.523546,17808.849139,1.0,2755.000000,5436.000000,8713.000000,65133.0
year,10681.0,1986.947570,19.030044,1915.0,1979.000000,1994.000000,2001.000000,2008.0
title_length,10681.0,19.967887,12.501962,2.0,12.000000,17.000000,24.000000,154.0
avg_ratings,10677.0,3.191955,0.566975,0.5,2.847826,3.265351,3.608696,5.0
users_ratings,10677.0,936.597733,2487.328304,1.0,34.000000,135.000000,626.000000,34864.0
users_tag,7601.0,7.299566,11.684430,1.0,2.000000,3.000000,8.000000,159.0

# Exploratory data analysis (EDA)